<h2 style="text-align: center;color:teal;">Edit Your Weight Here</h2>

<form action="/{{userId}}?_method=PATCH" method="POST">
    <input type="text" name="weight" placeholder="New Weight" value="">
    <button class="btn">Submit</button>

</form>