<h1>form new page</h1>
<form action="/" method="POST">
    <input type="text" name="name" placeholder="Name" value="">
    <input type="text" name="age" placeholder="Age" value="">
    <input type="text" name="weight" placeholder="Weight" value="">
    <input type="text" name="sex" placeholder="Sex" value="">
    {{!-- <input type="text" name="meal" placeholder="Meal" value=""> --}}
    {{!-- <input type="text" name="workout" placeholder="Workout" value=""> --}}

    <button type="submit">Post</button>
</form>